<div class="list-group">
  <div class="list-group-item">
    <div class="my-image">
      <img src="images/manoj.jpg" />
    </div>
    <span class="my-name">Manoj Nathwani</span>
  </div>
  <a href="\" class="list-group-item ">Blog<span class="badge pull-right"></span></a>
  <a href="/hackathons" class="list-group-item ">Hackathons<span class="badge pull-right"></span></a>
  <a href="/projects" class="list-group-item ">Projects<span class="badge pull-right"></span></a>
</div>

<div class="list-group">
  <a href="/resume" class="list-group-item ">Resume<span class="badge pull-right"></span></a>
</div>

<div class="list-group">
  <span class="list-group-item "><b>Social</b></span>
  {% for x in site.data.social %}
  <a class="list-group-item" href="{{ x.link }}" target="_blank"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-{{ x.name | downcase}} fa-stack-1x fa-inverse fa-fw"></i></span>{{ x.name }}</a>
  {% endfor %}
</div>
